<%= provide(:header, "#{@exercise.title}") %>
<%= provide(:description, "Questões do exercício") %>

<%= link_to "Criar nova questão", new_exercise_question_path(@exercise),
                                  class: "btn btn-primary pull-right" %>
<br></br>
<br></br>

<% @questions.each do |question| %>
  <div class="box box-solid box-default">
    <div class="box-body">
      <%= markdown(truncate(question.description, length: 200, separator: ' ')) %>
    </div><!-- /.box-body -->
    <div class="box-footer">
      <b>Possui
        <a href="<%= question_test_cases_path(question) %>">
          <%= pluralize_test_cases(question.test_cases.count) %>
        </a>
      </b>
      <div class="pull-right">
        <%= link_to "Ver", question %> |
        <%= link_to "Editar", edit_question_path(question) %> |
        <%= link_to "Excluir", question, method: :delete,
                    data: { confirm: "Tem certeza que deseja excluir?" } %>
      </div>
    </div>
  </div>
<% end %>
