<%= provide(:header, "Questão") %>
<%= provide(:description, "Vizualize ou edite") %>

<%= link_to "Deletar", @question, method: :delete,
                       class: "btn btn-primary pull-right",
                       style: "margin-left: 10px",
                       data: { confirm: "Tem certeza que deseja excluir?" } %>

<%= link_to "Editar", edit_question_path(@question),
                      class: "btn btn-primary pull-right " %>
<br></br>

<div class="box box-solid box-default">
  <div class="box-body">
    <%= markdown(@question.description) %>
  </div><!-- /.box-body -->
</div>
