<div id="show-team" class="nav-tabs-custom" data-team-id="<%= team.id %>">
  <ul class="nav nav-tabs">
    <li class="active">
      <%= link_to(
        "Rankings",
        "#rankings",
        "data-toggle" => "tab",
      ) %>
    </li>
    <li>
      <%= link_to(
        "Listas",
        "#exercises-list",
        "data-toggle" => "tab",
      ) %>
    </li>
    <li>
      <%= link_to(
        "Alunos matriculados",
        "#enrolled-students",
        "data-toggle" => "tab",
      ) %>
    </li>
    <% if current_user.owner?(team) %>
      <li>
        <%= link_to(
          "Grafo de manipulação",
          "#graph",
          "data-toggle" => "tab",
        ) %>
      </li>
    <% end %>
  </ul>

  <div class="tab-content">
    <%= yield %>
  </div>
</div>
