<div class="nav-tabs-custom">
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#rankings" data-toggle="tab" aria-expanded="true">Rankings</a>
    </li>
    <li>
      <a href="#list-exercises" data-toggle="tab" aria-expanded="true">Listas de exercício</a>
    </li>
    <li>
      <a href="#enroled-students" data-toggle="tab" aria-expanded="true">Alunos matriculados</a>
    </li>
    <li>
      <a href="#graph" data-toggle="tab" aria-expanded="true">Grafo de manipulação</a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="rankings">
      <div class="row">
        <div class="col-md-6">
          <%= render partial: 'ranking', locals: { title: "Ranking geral",
                                                   ranking: @general_ranking,
                                                   base_score: @general_base_score } %>
        </div>
        <div class="col-md-6">
          <%= render partial: 'ranking', locals: { title: "Ranking da semana",
                                                   ranking: @weekly_ranking,
                                                   base_score: @weekly_base_score } %>
        </div>
      </div>

      <% if @team.enrolled?(current_user) %>
        <br></br>
        <%= render partial: 'incentive_ranking' %>
      <% end %>
    </div>

    <div class="tab-pane" id="list-exercises">
      <div class="box-body">
        <%= link_to_if(can?(:add_or_remove_exercise, @team), "Adicionar exercício",
                       '#', id: "add-exercise", class: "btn btn-primary pull-right") %>

        <br></br>

        <div id="exercises-table">
          <% if current_user.owner?(@team) %>
            <%= render 'teacher_exercises_table' %>
          <% else %>
            <%= render 'student_exercises_table' %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="tab-pane" id="enroled-students">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th style="width: 10px">#</th>
            <th>Usuário</th>
          </tr>
          <% @enrolled_users.each_with_index do |user, index| %>
            <tr>
              <td><%= index %>.</td>
              <td><%= user.name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="tab-pane" id="graph">
      <div class="box-body">
        <%= render 'teams/graph/graph' %>
      </div>
    </div>
  </div>
</div>

<script text="text/javascript">
  function createModal(modalName) {
    var div = $(document.createElement('div'))
    div.attr('id', modalName + '-container');
    $('body').append(div);
    $(div).html("<%= escape_javascript(render 'exercises_modal') %>");
    $('body').append(div);
  }
</script>

<script text="text/javascript">
  createModal("exercises");
  $("#add-exercise").click(function() {
    showModal("exercises", false, createModal);
  });
</script>
