<%= provide(:header, "Home page") %>

<% if current_user.teacher? %>
  <div class="row">
    <div class="col-md-6">

      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Últimas respostas das suas turmas</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
          <table id="teams-answer-table" class="table table-bordered table-hover dataTable">
            <thead>
              <th>Aluno</th>
              <th>Questão</th>
              <th>Tentativa</th>
              <th>Resposta</th>
            </thead>

            <tbody>
              <% @teams_answers.each do |answer| %>
                <tr data-link="<%= answer_path(answer) %>" target="_blank">
                  <td>
                    <%= answer.user.name %>
                  </td>
                  <td>
                    <%= answer.question.title %>
                  </td>
                  <td>
                    <%= answer.attempt %>
                  </td>
                  <td>
                    <%= answer_status_label(answer) %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div><!-- /.box-body -->
      </div><!-- /.box -->

    </div>
    <div class="col-md-6">

      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Últimas recomendações automáticas para você</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
          The body of the box
        </div><!-- /.box-body -->
        <div class="box-footer">
          The footer of the box
        </div><!-- box-footer -->
      </div><!-- /.box -->

    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-6">

    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">Suas últimas respostas</h3>
      </div><!-- /.box-header -->
      <div class="box-body">
        <table id="user-answers-table" class="table table-bordered table-hover dataTable">
          <thead>
            <th>Questão</th>
            <th>Tentativa</th>
            <th>Resposta</th>
          </thead>

          <tbody>
            <% @user_answers.each do |answer| %>
              <tr data-link="<%= new_answer_question_path(answer.question, answer.team, answer_id: answer.id) %>" target="_blank">
                <td>
                  <%= answer.user.name %>
                </td>
                <td>
                  <%= answer.question.title %>
                </td>
                <td>
                  <%= answer.attempt %>
                </td>
                <td>
                  <%= answer_status_label(answer) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div><!-- /.box-body -->
    </div><!-- /.box -->

  </div>
  <div class="col-md-6">

    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">Últimas mensagens recebidas</h3>
      </div><!-- /.box-header -->
      <div class="box-body">

        <table id="user-answers-table" class="table table-bordered table-hover dataTable">
          <thead>
            <th>Título</th>
            <th>Enviada por</th>
            <th>Enviada para</th>
            <th>Horário de envio</th>
          </thead>

          <tbody>
            <% @user_last_messages.each do |message| %>
              <tr data-link="<%= message_path(message) %>" target="_blank">
                <td>
                  <%= message.title %>
                </td>
                <td>
                  <%= message.sender.name %>
                </td>
                <td>
                  <%= message.receiver.name %>
                </td>
                <td>
                  <%= message.created_at %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

      </div><!-- /.box-body -->
    </div><!-- /.box -->

  </div>
</div>
