<%= provide(:header, "Suas mensagens") %>

<div class="row">
  <div class="col-md-offset-4 col-md-4">
    <div class="btn-group">
      <%= link_to(
        "Mensagens recebidas",
        messages_path(received: true),
        remote: true,
        id: "messages-received",
        class: "btn btn-default active"
      ) %>

      <%= link_to(
        "Mensagens enviadas",
        messages_path(sended: true),
        remote: true,
        id: "messages-sended",
        class: "btn btn-default"
      ) %>
    </div>
  </div>
</div>

<br></br>

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="box box-body">
      <div id="messages">
        <%= render "messages/index/messages" %>
      </div>
    </div>

    <div class="text-center">
      <%= render "shared/paginate", object: @messages %>
    </div>
  </div>
</div>
