<table id="messagess-table" class="table table-bordered table-hover">
  <thead>
    <th>Título</th>
    <th>Enviado por</th>
    <th>Enviado para</th>
    <th style="width: 180px">Horário de envio</th>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
      <tr data-link="<%= message_path(message) %>">
        <td>
          <%= message.title %>
        </td>
        <td>
          <%= message.sender.name %>
        </td>
        <td>
          <%= message.receiver.name %>
        </td>
        <td>
          <%= message.created_at %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
