<header class="main-header">
  <a href="#" class="logo">
    <!-- LOGO -->
    <span class="logo-lg">FARMA-ALG</span>
    <span class="logo-mini">F</span>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top" role="navigation">
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">

        <% if user_signed_in? %>

          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">

            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
              <span class="hidden-xs">
                <%= current_user.name %>
              </span>
            </a>

            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <%= gravatar_for(current_user) %>
                <p>
                  <%= current_user.name %>
                </p>
              </li>

              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="#" class="btn btn-default btn-flat">Profile</a>
                </div>
                <div class="pull-right">
                  <%= link_to "Sair", destroy_user_session_path,
                                      method: :delete,
                                      class: "btn btn-default btn-flat" %>
                </div>
              </li>

            </ul>
          </li>
        <% else %>
          <li>
            <%= link_to "Log in", user_session_path %>
          </li>

          <li>
            <%= link_to "Registrar-se", new_user_registration_path %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>
