<div class="main-sidebar">
  <!-- Inner sidebar -->
  <div class="sidebar">
    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <li class="header">Menu de operações</li>
        <% if current_user.teacher? %>
          <li>
            <%= link_to exercises_path do %>
              <i class="fa fa-pencil-square-o"></i>
              <span>Meus exercícios</span>
            <% end %>
          </li>

          <li>
            <%= link_to recommendations_path do %>
              <i class="fa fa-magic"></i>
              <span>Recomendações de respostas</span>
            <% end %>
          </li>
        <% end %>

       <li>
         <%= link_to answers_path do %>
           <i class="fa fa-check-square-o"></i>
           <span>Minhas respostas</span>
         <% end %>
       </li>

       <li>
         <%= link_to teams_path do %>
           <i class="fa fa-users"></i>
           <span>Turmas</span>
         <% end %>
       </li>

       <li>
         <%= link_to messages_path do %>
           <i class="fa fa-envelope"></i>
           <span>Mensagens</span>
         <% end %>
       </li>

    </ul><!-- /.sidebar-menu -->

  </div><!-- /.sidebar -->
</div><!-- /.main-sidebar -->
