<div class="row">
  <div class="col-md-12">

    <div class="box box-solid box-<%= correct_style(test_case_result.answer.correct?) %>">
      <div class="box-header">
        <div class="row">
          <div class="col-md-1">
            <i class="<%= correct_icon(test_case_result.answer) %>"></i>
          </div>

          <div class="col-md-10">
            <%= test_case_result.test_case.title %>
          </div>

          <div class="col-md-1">
            <button class="btn btn-default btn-sm pull-right" data-toggle="collapse"
                    data-target="#test-case-diff-<%= test_case_result.id %>">
              <i class="fa fa-columns"></i> Diff
            </button>
          </div>
        </div>
      </div><!-- /.box-header -->

      <div id="test-case-diff-<%= test_case_result.id %>" class="box-body collapse">
      </div><!-- /.box-body -->
    </div><!-- box -->

  </div><!-- row -->
</div>

<script text="text/javascript">
  var baseText = "<%= j raw(test_case_result.test_case.output) %>";
  var newText = "<%= j raw(test_case_result.output) %>";
  var baseTextName = "Esperado";
  var newTextName = "Recebido";
  var tagId = "test-case-diff-<%= test_case_result.id %>"

  diffView(baseText, newText, baseTextName, newTextName, tagId);
</script>
