<div class="modal" id="answer-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button id="close" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <br></br>
        <%= @answer.user.name %>
      </div>

      <div class="modal-body">
        <h3>Detalhes da resposta</h3>

        <%= render partial: 'shared/answer_info', locals: { answer: @answer } %>
        <br></br>

        <table style="width: 100%">
          <tbody>
            <tr>
              <td>
                <button id="show-answer" class="btn btn-primary text-center"
                        style="width: 100%">Visualizar resposta</button>
              </td>
            </tr>
            <tr>
              <td>
                <%= link_to(
                  "Exibir mais detalhes",
                  answer_path(@answer),
                  method: :get,
                  class: "btn btn-primary text-center",
                  style: "width: 100%",
                  target: "_blank"
                ) %>
              </td>
            </tr>
            <tr>
              <td>
                <button id="add-answer-<%= @answer.id %>-similar" class="btn btn-primary text-center"
                        style="width: 100%">Adicionar respostas semelhantes</button>
              </td>
            </tr>
            <tr>
              <td>
                <%= link_to(
                  "Enviar mensagem ao aluno",
                  new_message_path(receiver_ids: [@answer.user.id], answer_ids: [@answer.id]),
                  method: :get,
                  class: "btn btn-primary text-center",
                  style: "width: 100%",
                  target: "_blank"
                ) %>
              </td>
            </tr>
          </tbody>
        </table>

        <hr></hr>

          <h3>Resultados dos casos de teste</h3>

          <% @answer.test_cases_results.each do |test_case_result| %>
            <%= render partial: "shared/test_case_result", locals: { test_case_result: test_case_result } %>
          <% end %>


      </div>
    </div>
  </div>
</div>

<script text="text/javascript">
  $('#answer-container').on('hidden.bs.modal', function () {
    $("#<%= @node_html_id %>").attr('fill', setNodeCollor(<%= @answer.correct %>));
  });

  $('#show-answer').click(function() {
    showModal('answer-content', true, function(modalName) {
      var div = $(document.createElement('div'))
      div.attr('id', modalName + '-container');
      $('body').append(div);
      $(div).html("<%= escape_javascript(render partial: 'answer_content_modal', locals: { answer: @answer }) %>");
      $('body').append(div);
    });
  }
      <% Log.create!(operation: Log::ANSW_SHOW, user: current_user) %>
  );
</script>
