
<div class="col-md-6" style="border-right: 1px solid black">
  <%= form_for @answer, remote: true do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <div class="form-group">
      <%= f.text_area :content, id: 'editor', class: "form-control" %>
      <div id="editor_div"><%= @escaped_text %></div>
    </div>

    <div class="submit">
      <%= f.submit "Submeter resposta", class: "btn btn-primary btn-xs pull-right" %>
    </div>
  <% end %>

  <div id="test-results"></div>
</div>

<div class="col-md-6">
  <div class="box box-solid">
    <div class="box-header with-border">
      <h3 class="box-title"><b>Enunciado:</b></h3>
    </div>

    <div class="box-body">
      <%= markdown(@question.description) %>
    </div>
  </div>
</div>

<script>
  var textarea = $('#editor');
  textarea.hide();

  // Create and customize ace editor.
  var editor = ace.edit("editor_div");
  editor.setTheme("ace/theme/twilight");
  editor.getSession().setMode("ace/mode/pascal");

  // When click put ace editor content in form hidden textarea.
  $('input[name="commit"]').on('click', function() {
    textarea.val(editor.getSession().getValue());
    $('.submit').append('<i class="fa fa-refresh fa-spin"></i>');
  });
</script>
