
<div class="modal" id="search-modal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button id="close" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <br></br>

          <%= form_tag answers_team_path(@team), method: :get, remote: true, class: "form-inline" do %>
            <%= hidden_field_tag :team_id, @team.id %>

            <div class="input-group margin", style="width: 100%">
              <span class="input-group-btn">
                <a class="btn btn-default btn-flat" data-toggle="collapse" data-target="#filters">
                  <i class="fa fa-filter"></i> Filtros
                </a>
              </span>

              <%= text_field_tag :key_words, nil, class: "form-control" %>

              <span class="input-group-btn">
                <%= submit_tag 'Buscar respostas', id: "search-btn",
                    class: "form-control btn btn-flat btn-primary" %>
              </span>
            </div>
            <div id="filters" class="collapse">
              <br></br>
              <%= render "teams/graph/filters" %>
            </div>
          <% end %>
      </div>
      <div class="modal-body">

      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('#search-filter').click(function() {
    showModal("filters", false);
  });

  $('#search-btn').click(function() {
    var div = $(document.createElement('div'))
    div.attr('id', 'loading-modal');
    $('.modal-content').append(div);
  });
</script>
