<%= provide(:header, "Casos de teste da questão") %>
<%= provide(:description, "Preview") %>

<% breadcrumb :test_cases, @question %>

<%= link_to "Criar novo caso de teste", new_question_test_case_path(@question),
                                  class: "btn btn-primary pull-right",
                                  style: "margin-left: 10px" %>
<%= link_to "Testar solução", '#', class: "btn btn-primary pull-right test-open" %>
<br></br>
<br></br>

<% @test_cases.each do |test_case| %>
  <div class="box box-solid box-default">
    <div class="box-header">
      <div class="box-title">
        <%= truncate(test_case.description, length: 100, separator: ' ') %>
      </div>
    </div>
    <div class="box-body">
      <b style="display: block">Input:</b>
      <div style="display: block"><%= test_case.input %></div>
      <p></p>
      <b>Output esperado:</b>
      <div style="display: block"><%= test_case.output %></div>
    </div><!-- /.box-body -->
    <div class="box-footer">
      <div class="pull-right">
        <%= link_to "Ver", test_case %> |
        <%= link_to "Editar", edit_test_case_path(test_case) %> |
        <%= link_to "Excluir", test_case, method: :delete,
                    data: { confirm: "Tem certeza que deseja excluir?" } %>
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    // Open test modal.
    $('.test-open').click(function() {
     <%= render partial: 'show_test_modal.js', locals: { test_url: run_all_question_test_cases_url(@question) } %>
    });
  });
</script>
