<%= provide(:header, "Caso de teste") %>
<%= provide(:description, "Visualize, edite ou simule o comportamento de um código com os casos de teste atribuídos à sua questão") %>

<%= link_to "Deletar", @test_case, method: :delete,
                       class: "btn btn-primary pull-right",
                       style: "margin-left: 10px",
                       data: { confirm: "Tem certeza que deseja excluir?" } %>

<%= link_to "Editar", edit_test_case_path(@test_case),
                      class: "btn btn-primary pull-right " %>
<br></br>

<div class="box box-solid box-default">
  <div class="box-header">
    <div class="box-title">
      <%= truncate(@test_case.description, length: 100, separator: ' ') %>
    </div>
  </div>
  <div class="box-body">
    <b style="display: block">Input:</b>
    <div style="display: block"><%= @test_case.input %></div>
    <p></p>
    <b>Output esperado:</b>
    <div style="display: block"><%= @test_case.output %></div>
  </div><!-- /.box-body -->
  <div class="box-footer">
    <div class="pull-right">
      <a id="test-open" href="#" class="btn btn-primary pull-right">
        <i class="fa fa-coffee" aria-hidden="true"></i>
        Testar
      </a>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    // Open test modal.
    $('#test-open').click(function() {
     // It seems odd remove test-container and create it again in sequence,
     // but that is necessary because currently, bootstrap modal has an error
     // (at least in AdminLTE2): 'hidden.bs.modal' event is called only after
     // I do something in my modal (click in a button, for instance) and then
     // close it (otherwise it doesn't work). Without this event, remove and
     // create it is an option.
     $('#test-container').remove();
     var div = $(document.createElement('div'))
     div.attr('id', 'test-container');
     $('body').append(div);
     $(div).html("<%= escape_javascript(render partial: 'test_modal', locals: { test_url: run_test_case_url(@test_case) }) %>");
     $('#test-modal').modal('show');
    });
  });
</script>
