<%= provide(:header, "Caso de teste '#{@test_case.title}'") %>

<% breadcrumb :test_case, @test_case %>

<%= link_to "Deletar", @test_case, method: :delete,
                       class: "btn btn-primary pull-right",
                       style: "margin-left: 10px",
                       data: { confirm: "Tem certeza que deseja excluir?" } %>

<%= link_to "Editar", edit_test_case_path(@test_case),
                      class: "btn btn-primary pull-right",
                      style: "margin-left: 10px" %>
<br></br>

<div class="box box-solid box-default">
  <div class="box-header">
    <div class="box-title">
      <%= truncate(@test_case.description, length: 100, separator: ' ') %>
    </div>
  </div>
  <div class="box-body">
    <b style="display: block">Inputs:</b>
    <% @test_case.inputs.each_with_index do |input, index| %>
      <div style="display: block"><b><%= "#{index + 1}ยบ" %></b> <%= j(input) %></div>
      <p></p>
    <% end %>
    <b>Output esperado:</b>
    <div style="display: block"><%= @test_case.output %></div>
  </div><!-- /.box-body -->
  <div class="box-footer">
  </div>
</div>
