// Display each result in the screen.
<% @results.each_with_index do |result, index| %>
  // Div to put the result.
  var div = $(document.createElement('div'));

  <% if result[:status] == :error %>
    div.attr('class', 'alert alert-danger text-left');
    div.append("<i class='icon fa fa-close'> <%= result[:test_case][:title] %></i>");
  <% else %>
    div.attr('class', 'alert alert-success text-left');
    div.append("<i class='icon fa fa-check'> <%= result[:test_case][:title] %></i>");
  <% end %>
  div.append("<b><a href='#' id='test_<%= index %>' class='pull-right show-log' data-custom-value='<%= j result[:output] %>'>Ver o resultado</a></b>")

  $('#test-results').append(div)
<% end %>


$('.show-log').click(function(event) {
    // 'output' is the variable with the content shown in modal.
    var output = $('#' + event.target.id).data('customValue');
    <%= render partial: 'show_log_modal' %>
});
