<% breadcrumb :exercise, @exercise %>

<%= link_to "Deletar", @exercise, method: :delete,
                       class: "btn btn-primary pull-right",
                       style: "margin-left: 10px",
                       data: { confirm: "Tem certeza que deseja excluir?" } %>

<%= link_to "Editar", edit_exercise_path(@exercise),
                      class: "btn btn-primary pull-right " %>
<br></br>

<div class="box box-solid box-default">
  <div class="box-header">
    <h3 class="box-title"><%= @exercise.title %></h></h3>
  </div><!-- /.box-header -->
  <div class="box-body">
    <%= markdown(@exercise.description) %>
  </div><!-- /.box-body -->
  <div class="box-footer">
    <a href="<%= new_exercise_question_path(@exercise) %>" class="btn btn-primary pull-right">
      <i class="fa fa-plus-square-o" aria-hidden="true"></i>
      Adicionar questão
    </a>

    <b>Possui <a href="<%= exercise_questions_path(@exercise) %>"><%= pluralize_questions(@exercise.questions.count) %></a></b>
  </div>
</div>
